@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image:linear-gradient(to right,#6CFADF,#60FD87) ;
}

main{
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px #245e43;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1{
    color: #56e67a;
    text-align: center;
    text-shadow: 1px 1px 2px #46be64ee;
}
h2{
    color: #60C5FD;
}

p{
    text-align: justify;
}
